<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="myComponentHigh" class="com.blizzardtec.springtest.MyComponentHigh"/>

  <bean id="myComponentLow" class="com.blizzardtec.springtest.MyComponentLow"/>

  <bean id="mySpring" class="com.blizzardtec.springtest.MySpring">
    <property name="myComponent">
      <ref local="myComponentHigh"/>
    </property>
  </bean>

</beans>
